TangMqtt/bin/
*.log
QuartzDotNetDemo/.vs/
QuartzDotNetDemo/packages/
QuartzDotNetDemo/QuartzDotNetDemo/obj/
QuartzDotNetDemo/QuartzDotNetDemo/bin/
QuartzDotNetDemo/QuartzDotNetDemo/job_scheduling_data_2_0.xsd
