TangMqtt/bin/
*.log
QuartzDotNetDemo/.vs/
QuartzDotNetDemo/packages/
QuartzDotNetDemo/QuartzDotNetDemo/obj/
QuartzDotNetDemo/QuartzDotNetDemo/bin/
QuartzDotNetDemo/QuartzDotNetDemo/job_scheduling_data_2_0.xsd
Weather_Python/venv/Lib/
Weather_Python/venv/Scripts/
Weather_Python/.idea/workspace.xml
ArcFaceSample/ArcFaceSample/obj/
ArcFaceSample/ArcFaceSample/bin/
ArcFaceSample/ArcFaceCore/obj/
ArcFaceSample/.vs/
ArcFaceSample/ArcFaceCore/bin/
.gitattributes
ArcFaceSample/ArcFaceAndroid/.idea/
CSharp/TaobaoTry/TaobaoTry/obj/
CSharp/TaobaoTry/TaobaoTry/bin/
CSharp/TaobaoTry/.vs/
CSharp/TaobaoTry/packages/
CSharp/TaobaoTry/TaobaoTry/TaobaoTry.csproj.user
CSharp/TiebaPost/TiebaPost/obj/
CSharp/TiebaPost/TiebaPost/bin/
CSharp/TiebaPost/packages/
CSharp/TiebaPost/.vs/
Android/UVCCamera-master/.idea/
Android/UvcCamera/.idea/
Android/Sample/.idea/
Android/mimaAndroid/.idea/
Android/fingerAndroid/.idea/
