<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="appid" value="8tWpRPqHyrqVEZxEwyJ8pPiRwCoXL4qCoapRmAE6PywE"/>
    <add key="fdKey" value="CGwuwgGKa97DaUaYPnXpR935qSyKpoqx3suFCis9A4Hg"/>
    <add key="ftKey" value="CGwuwgGKa97DaUaYPnXpR92xg3i8tBRcSffg7CFAmQcx"/>
    <add key="frKey" value="CGwuwgGKa97DaUaYPnXpR93aV41zzy2Aj593kDZBCwNW"/>
    <add key="fAgeKey" value="CGwuwgGKa97DaUaYPnXpR93porYLV5uainxdc2VqbNN4"/>
    <add key="fGenderKey" value="CGwuwgGKa97DaUaYPnXpR93wyFoWo2xSrGNmvtgeqUbk"/>
  </appSettings>
</configuration>