<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>

  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\logs\TiebaPost.Log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="date" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="14" />
      <param name="StaticLogFileName" value="true" />
      <param name="DatePattern" value="'.'yyyyMMdd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.fffffff},[%thread] %property{log4net:HostName},%-5p,%C,%M,%m%n" />
        <param name="Header" value="[Header]&#13;&#10;"/>
        <param name="Footer" value="[Footer]&#13;&#10;"/>
      </layout>
      <Encoding value="UTF-8" />
    </appender>
  </log4net>
</configuration>